*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    margin-top: 20px;
    background-color: rgb(219, 140, 140);
    width: 600px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 40%;
    border: 2px solid rgb(6, 6, 62);
    margin-bottom: 20px;
}
span{
    color: rgb(141, 16, 141);
}
#username{
    width: 300px;
    height: 40px;
    border: none;
    padding-left: 10px;
    border-bottom-right-radius: 30%;
    border-top-left-radius: 30%;
    border: 3px solid brown;
    background-color: rgb(249, 243, 243);
    font-size: 15px;
    font-style: italic;
}
button{
    width: 100px;
    height: 40px;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
    border: none;
}
#myDiv{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}